################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SWD.rar
/SWD.zip
/.vs/SWD/FileContentIndex
/.vs
