  .user-management {
    padding: 20px;
    color: #333;
    background: var(--bg-color);
    min-height: 100vh;
    animation: entrance-right 1.5s ease-in-out forwards;
  }
  
  /* Search Bar */
  .search-container {
    margin: 20px 0;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    height: 40px;
    /* transform: translateY(100%);
    opacity: 0;
    animation: entrance-right 2s ease-in-out forwards;
    animation-iteration-count: 1;
    animation-delay: 1s; */
  }

  .search-container .user-container {
    border-left: 1px solid gray;
    padding-left: 10px;
    font-size: 18px;
  }.search-container .user-container span {font-weight: 800;}
  
  .search-input-border {
    width: 80%;
    padding: 1px;
    border-radius: 10px;
    background: darkgray;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 1;
  }

  .search-input {
    width: 100%;
    padding: 12px;
    background: #FDFDFD;
    color: gray;
    border: none; outline: none;
    border-radius: 9px;
    margin: 0;
  }
  .search-input::placeholder {transform: translateY(0%); transition: transform 0.3s ease;}
  .search-input:focus-within::placeholder {transform: translateY(-200%); transition: transform 0.5s ease;}
  
  .search-icon {
    position: absolute;
    color: #555;
    margin: 0 10px;
  }

  @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  .search-input-border-text {background-color: white; color: #007bff; position: absolute; transform: translateY(0); padding: 2px 15px 5px 15px; border-radius: 8px 8px 0 0; border: 1px solid transparent; transition: border 0.5s ease ,transform 0.4s ease;}
  .search-container:has(.search-input:focus-within) .search-input-border-text {border: 1px solid #007bff; transform: translateY(-30px); transition: border 0.2s ease, transform 0.3s ease;}
  
  .search-input-border::after, .search-input-border::before{
    content: '';
    position: absolute;
    height: 33px;
    width: 99.2%;
    background-image: conic-gradient(from var(--angle), #6bfbce, #b0ceff, #00aaff, #006aff, transparent );
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 4px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
  }
  .search-input-border::before{
    filter: blur(1.5rem);
    opacity: 0.5;
  }
  @keyframes spin{
    from{
      --angle: 0deg;
    }
    to{
      --angle: 360deg;
    }
  }
  /* Page Titles */
  .main-content-title-card{
    margin: 40px 0 20px 0;
    width: 100%;
    height: 122px;
    display: flex;
    justify-content: space-between;
    /* transform: translateX(100%);
    opacity: 0;
    animation: entrance-right 2s ease-in-out forwards;
    animation-iteration-count: 1;
    animation-delay: 1.5s; */
}

  .title-box {
    width: 55%;
    height: 122px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .page-title {
    font-weight: bold;
    color: var(--primary-text-color);
    font-weight: 600;
    font-size: 64px;
    line-height: 76.8px;
    letter-spacing: 0px;
    margin: 0;
  }
  
  .page-subtitle {
    margin: 0;
    font-size: 14px;
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 0px;
  }
  
  /* Table */
  .user-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .user-table th, .user-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .user-table th {
    background: #ddd;
  }
  
  /* Buttons */
  .add-user-btn {
    position: relative;
    background: linear-gradient(110.68deg, #FFFFFF 22.59%, #E2E2E2 77.41%);
    color: #00FF44;
    font-weight: 600;
    font-size: 18px;
    line-height: 12px;
    letter-spacing: 0px;
    padding: 10px 15px;
    width: 160px;
    height: 64px;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    transition: all 0.5s ease;
  }
  
  .add-user-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: 12px;
    background: linear-gradient(315deg, #00FF44 0%, #34A922 40%, #09FF00 100%);
    -webkit-mask: 
      linear-gradient(white, white) content-box, 
      linear-gradient(white, white);
    -webkit-mask-composite: destination-out; /* Cuts out the inner area */
    mask-composite: exclude;
    pointer-events: none; /* Ensures clicks go through to the button */
  }
  
  .add-user-btn:hover {
    color: #34A922;
    background: linear-gradient(110.68deg, #FFFFFF 22.59%, #E2E2E2 77.41%);
    transition: all 0.3s ease;
  }
  
  .add-user-icon {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex; justify-content: center; align-items: center;
    border-radius: 50%;
    background: white;
  }

  .add-user-icon::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: 50%;
    background: linear-gradient(315deg, #00FF44 0%, #34A922 40%, #09FF00 100%);
    -webkit-mask: 
      linear-gradient(white, white) content-box, 
      linear-gradient(white, white);
    -webkit-mask-composite: destination-out; /* Cuts out the inner area */
    mask-composite: exclude;
    pointer-events: none;
  }

  .table-container {
    width: 100%;
    display: flex;
    justify-content: center;
    /* transform: translateX(100%);
    opacity: 0;
    animation: entrance-right 2s ease-in-out forwards;
    animation-iteration-count: 1;
    animation-delay: 2s; */
  }

  /* Action Buttons */
  .view-btn {
    background: transparent;
    color: #007bff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-btn {
    background: transparent;
    color: #d32f2f;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-btn {
    background: transparent;
    color: darkgray;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @keyframes entrance-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes entrance-left{
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }