.user-management {
    padding: 20px;
    color: #333;
    background: linear-gradient(180deg, #272727 0%, #414141 45.5%, #292929 100%);
    min-height: 100vh;
  }
  
  /* Search Bar */
  .search-container {
    margin: 20px 0;
    display: flex;
    justify-content: left;
    height: 40px;
    /* transform: translateY(100%);
    opacity: 0;
    animation: entrance-right 2s ease-in-out forwards;
    animation-iteration-count: 1;
    animation-delay: 1s; */
}
  
  .search-input {
    width: 80%;
    padding: 10px;
    background: #FDFDFD;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Page Titles */
  .main-content-title-card{
    margin: 40px 0 20px 0;
    width: 100%;
    height: 122px;
    display: flex;
    justify-content: space-between;
    /* transform: translateX(100%);
    opacity: 0;
    animation: entrance-right 2s ease-in-out forwards;
    animation-iteration-count: 1;
    animation-delay: 1.5s; */
}

  .title-box {
    width: 55%;
    height: 122px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .page-title {
    font-weight: bold;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 64px;
    line-height: 76.8px;
    letter-spacing: 0px;
    margin: 0;
  }
  
  .page-subtitle {
    margin: 0;
    font-size: 14px;
    color: #A3A3A3;
    font-weight: 500;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 0px;
  }
  
  /* Table */
  .user-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .user-table th, .user-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .user-table th {
    background: #ddd;
  }
  
  /* Buttons */
  .add-user-btn {
    position: relative;
    background: linear-gradient(110.68deg, #6E5BFF 22.59%, #765AFF 51.1%, #5A38FF 77.41%);
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 12px;
    letter-spacing: 0px;
    padding: 10px 15px;
    width: 160px;
    height: 64px;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    animation: bgcol-change-start 0.8s ease-in-out;
    animation-iteration-count: 1;
  }
  @keyframes bgcol-change-start {
    0% {
      background: #3BC1FF;
    }
    100% {
      background: #5A38ff;
    }
  }

  .add-user-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: 12px;
    background: linear-gradient(315deg, #C61AFF 0%, #3BC1FF 53.5%, #FFFFFF 100%);
    -webkit-mask: 
      linear-gradient(white, white) content-box, 
      linear-gradient(white, white);
    -webkit-mask-composite: destination-out; /* Cuts out the inner area */
    mask-composite: exclude;
    pointer-events: none; /* Ensures clicks go through to the button */
  }
  
  .add-user-btn:hover {
    background: #5A38ff;
    animation: bgcol-change 0.6s ease-in-out forwards;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    transition: all 0.5s ease;
  }
  @keyframes bgcol-change {
    0% {
      background: #5A38ff;
    }
  
    100% {
      background: #3BC1FF;
    }
  }
  
  .add-user-icon {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex; justify-content: center; align-items: center;
    border-radius: 50%;
    background: white;
  }
  .add-user-icon::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: 50%;
    background: linear-gradient(315deg, #C61AFF 0%, #3BC1FF 53.5%, #FFFFFF 100%);
    -webkit-mask: 
      linear-gradient(white, white) content-box, 
      linear-gradient(white, white);
    -webkit-mask-composite: destination-out; /* Cuts out the inner area */
    mask-composite: exclude;
    pointer-events: none;
  }

  .table-container {
    width: 100%;
    display: flex;
    justify-content: center;
    /* transform: translateX(100%);
    opacity: 0;
    animation: entrance-right 2s ease-in-out forwards;
    animation-iteration-count: 1;
    animation-delay: 2s; */
  }

  /* Action Buttons */
  .view-btn {
    background: transparent;
    color: #007bff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-btn {
    background: transparent;
    color: #d32f2f;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-btn {
    background: transparent;
    color: darkgray;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @keyframes entrance-right {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @keyframes entrance-top {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }