.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    color: var(--primary-text-color);
    background-color: #60606080;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

.MuiBox-root {
    padding: 100px 200px;
    width: 20%;
    background-color: #ffffff50;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
    box-shadow: 1px 1px 40px 2px #ffffff49;
}

.MuiBox-root.usernamePassLoginBox {
    padding: 20px 20px;
    width: 30%; height: 60%;
    background-color: #ffffff50;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
    box-shadow: 1px 1px 40px 2px #ffffff49;
}
.usernamePassLoginBox form {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.usernamePassLoginBox .input-field {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.usernamePassLoginBox .input-field input {
    background-color: #ccc;
    color: black;
    padding-left: 20px;
    font-weight: 400;
    width: 100%;
    height: 40px;
    outline: none; border: 2px solid #ffffff99;
    border-radius: 12px;
}
.usernamePassLoginBox .input-field input::placeholder { user-select: none; padding-left: 10px; transform: translateX(0%); transition: transform 0.4s ease;}
.usernamePassLoginBox .input-field input:focus-within::placeholder { transform: translateX(-100%); transition: transform 0.3s ease;}

.usernamePassLoginBox .input-field label { font-size: large; padding: 5px 10px; color: #333; font-weight: 600;}

.switch-toggle{
    display: flex;
    width: 60px;
    height: 180px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10rem;
    position: absolute;
    right: 5%;
    padding: 2px;
    cursor: pointer;

}
.switch-toggle>*{
    width: 1.5rem;
    height: 1.5rem;
}
.switch-button{
    width: 80%;
    height: 28%;
    border-radius: 100%;
    position: absolute;
}

.usernamePassLogin {
    padding: 18px;
    color: white;
    border-radius: 1rem;
}

.googleLogin {
    padding: 18px;
    border-radius: 1rem;
    user-select: none;
}

.logo {
    width: 50%; min-width: 150px;
    height: 60%; min-height: 140px;
    padding: 5px;
}

.GGLogo{
    width: 150px;
    height: 50px;
}
.loginLable {
    font-size: 24px;
    margin-bottom: 20px;
}
.loginButton {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    width: 90%;
    cursor: pointer;
    background-color: #4285F4;
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 4px;
    transition: all 0.5s ease;
}
.loginButton .GGIcon{
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease;
    transition-delay: 100ms;
    transition-property: position;
}
.loginButton:hover{
    padding-left: 20px;
    background-color: var(--border-color);
    transition: all 0.3s ease;
}
.loginButton:hover .GGIcon{
    position: unset;
    opacity: 1;
    transition: all 0.3s ease;
    transition-delay: 100ms;
    transition-property: position;
}

.shape {
    position: absolute;
    width: 40%;
    height: 70%;
    top: 5%;
    animation: morph 8s ease-in-out infinite, bounce 60s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transition: all 1s ease-in-out;
}

.shape2 {
    position: absolute;
    width: 67%;
    height: 98%;
    left: 0;
    bottom: 0;
    animation: morph2 16s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transition: all 1s ease-in-out;
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        background: rgba(255, 255, 255, 0.1);
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        background: rgba(255, 255, 255, 0.1);
    }
}

@keyframes morph2 {
    0% {
        border-radius: 30% 70% 100% 0% / 63% 100% 0% 37%;
        background: rgba(255, 255, 255, 0.1);
    }

    50% {
        border-radius: 62% 38% 100% 0% / 63% 100% 0% 37%;
    }

    
    100% {
        border-radius: 30% 70% 100% 0% / 63% 100% 0% 37%;
        background: rgba(255, 255, 255, 0.1);
    }
}

@keyframes bounce {
    0% {
        left: 60%;
        top: 5%;
    }

    25% {
        left: 65%;
    }

    50% {
        left: 70%;
        top: 10%;
    }

    75% {
        left: 50%;
        top: 15%;
    }
    
    100% {
        left: 60%;
        top: 5%;
    }
}

.googleLoginBox,
.usernamePassLoginBox {
    transform: translateY(0);
    transition: transform 0.4s ease;
}

.googleLoginBox.away {
    position: absolute;
    transform: translateY(200%);
    transition: transform 0.4s ease;
}
.usernamePassLoginBox.away {
    position: absolute;
    transform: translateY(-200%);
    transition: transform 0.4s ease;
}